body, html {
    height: 100%;
    width: 100%;
    margin : 0px;
    padding: 0px;
}

div#content {
    width: 100%; height: 100%;
}
.map-container {
    margin : 0px;
    padding: 0px;
    width: 100%;
    min-height: 100%;
    background-color : red;
}

.map-canvas {
    height: 10000000000px !important;
    max-height : 100%;
}
